@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.PE {
  transform: perspective(1000px) rotateX(45deg);
  text-transform: uppercase;
  letter-spacing: 3px;
}
.GT {
  transform: perspective(1000px) rotateX(45deg);
  text-transform: uppercase;
  /* letter-spacing: 3px; */
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: Bruno Ace SC;
}

.one {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ),
    url("/one.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.two {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ),
    url("/two.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.three {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ),
    url("/three.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.four {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ),
    url("/four.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
